<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/HomeStyle.css">
    <script src="/js/Home.js"></script>
		<title>Where to code</title>
  </head>

 	<body>
    <core class="hero">
      <h1 class="header">Where to code?</h1>
      <searchbar></searchbar>
    </core>
  </body>
</html>
