<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/HomeStyle.css">
    <script src="/js/Home.js"></script>
		<title>Where to code</title>
  </head>

 	<body>
    <section class="section" id="hero-body">
      <div class="container">
        <h1 class="is-size-1" id="header">Where to code?</h1>
        <div class="center" id="searchBars"></div>
      </div>
    </section>
  </body>
</html>
