gul<!DOCTYPE html>
<html lang="en">
  <head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
		<meta charset = "UTF-8">
		<title><%= @location %></title>
    <%= @js %>
  </head>

 	<body>
    <h1><%= @location %></h1>
		<div id="root"></div>
  </body>
</html>
