<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/LocationStyle.css">
    <script src="/js/Location.js"></script>
		<title><%= @location %></title>
  </head>

 	<body>
    <div class="hero">
      <h1 class="header"><%= @location %></h1>
      <map></map>
    </div>
  </body>
</html>
