@import url("core/flexboxgrid.min.css");
@import url("core/fonts.css");

html { height: 100%; }

body {
  background-image: url('/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: hue;
  background-color: rgba(0, 0, 0, 0.7);
  height: calc(100vh - 2rem);
  margin: 0;
  padding: 1rem;
}

.marginless-button {
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 1%;
  width: 100%;
  font-size: 1rem;
}

.button {
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 1%;
  border: 1px solid white;
  background-color: transparent;
  width: 100%;
  max-height: 2.5rem;
  font-size: 1rem;
}

input { font-size: 1rem; }