html {
  background-color: #212121;
}

#header {
  text-align: center;
  color: white;
  margin-bottom: 3rem;
}

#hero-body {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#searchBars {
  width: 50vw;
}
