@import "/css/Main.css";

body {
  background-color: #212121;
}

.header {
  text-align: center;
  color: white;
}

.hero-body {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
