#home #top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 2rem;
  padding-right: 2rem;
}

#home #top .button {
  width: 8rem;
  height: 2rem;
  text-align: center;
  color: white;
  line-height: 2rem;
}

#home #body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
}

#home #body .title {
  font-size: 3.5rem;
  font-weight: bold;
  padding-top: 1rem;
  margin-bottom: 1rem;
  color: white;
}