<nav class='row end-md'>
  <a class='marginless-button col-md-1' href='/sign_up'>Register</a>
  <a class='marginless-button col-md-1' href='/sign_in'>Login</a>
</nav>

<main class="col-md-offset-1 col-md-10">
  <div class="row center-md">
    <h1>Where to code</h1>
  </div>

  <div class="row" id="core">
    <section class="col-md-6 flex-col">
      <div id="google_maps"></div>
      <a class="button">Add a new coding spot</a>
    </section>

    <section class="col-md-6">
      <div style="background-color: blue; height: 60vh;"></div>
    </section>
  </div>
</main>