#search_box {
  display: flex;
  flex-direction: row;
  padding-top: 5rem;
}

#search_box .input {
  width: 30rem;
  margin-right: 2rem;
  border: none;
  text-align: center;
  color: black;
}

#search_box .button {
  line-height: 2rem;
  width: 8rem;
  text-align: center;
  border: 1px solid white;
  color: white;
}