<nav class='row end-md'>
  <a class='button col-md-1' href='/sign_up'>Register</a>
  <a class='button col-md-1' href='/sign_in'>Login</a>
</nav>

<main>
  <section>
    <h1>Where to code</h1>

    <form method='/search'>
      <input id='query' type='text' placeholder='Search coding spots around an address' />
      <% unless @is_mobile %>
        <input type="submit" value='Search' />
      <% else %>
        <i class="fas fa-search"></i>
      <% end %>
    </form>
  </section>
</main>