h1 {
  font-size: 4rem;
  color: white;
  font-weight: bold;
  margin: 0;
  margin-bottom: 8vh;
}

#google_maps {
  background-image: url("/images/google_map.png");
  background-size: cover;
  margin-bottom: 2vh;
  height: 100%;
}

#core { height: 60vh; }