!!! 5
%html(lang="en")
  %head
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(http-equiv="X-UA-Compatible" content="ie=edge")
    %meta(name="author" content="author")
    %meta(name="description" content="description")
    %meta(name="keywords" content="keywords")
    = favicon_tag 'images/favicon.png'
    %title Where to code

    = stylesheet_link_tag '/css/core.css'
  %body
    = partial "layouts/partials/nav"
    = yield